  <nav *ngIf="loggedin()" class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/home']">Ady's Car Ordering</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home']" >Home </a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/orders']">Orders</a>
      </li>
      <!--<li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
    <div class="dropdown-menu" aria-labelledby="dropdown01">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </li>-->
      <!--<li class="nav-item">
    <a class="nav-link active" style="color:yellow;">Hai Ady</a>
  </li>-->
    </ul>
    <ul class="navbar-right mt-3" style="list-style-type: none;">
      <li><button (click)="toggle()" id="cart" class="btn btn-warning"><i class="fa fa-shopping-cart"></i> Cart <span class="badge" *ngIf="cartDetails.cartItemsCount>0">{{cartDetails.cartItemsCount}}</span></button></li>
      </ul>
    <form class="form-inline my-2 my-lg-0">
      <!--<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
      <a class="nav-link active" style="color:yellow;">Hai {{loggedUserName()}}</a>

      <button class="btn btn-outline-success my-2 my-sm-0" (click)="logout()" type="submit" [routerLink]="['/home']">Sign Out</button>
    </form>
  </div>
</nav>

<div class="container" *ngIf="showDialog && isOrderItemCountNotZero()" style="display: block;position:absolute;z-index: 10;float:right;padding-left: 86%;">
  <div class="shopping-cart">
    <div class="shopping-cart-header">
      <i class="fa fa-shopping-cart cart-icon"></i><span class="badge">{{cartDetails.cartItemsCount}}</span>
      <!-- <div class="shopping-cart-total">
        <span class="lighter-text">Total:</span>
        <span class="main-color-text">$2,229.97</span>
      </div> -->
    </div> <!--end shopping-cart-header -->

    <!-- <ul class="shopping-cart-items">
      <li class="clearfix">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item1.jpg" alt="item1" />
        <span class="item-name">Sony DSC-RX100M III</span>
        <span class="item-price">$849.99</span>
        <span class="item-quantity">Quantity: 01</span>
      </li>

      <li class="clearfix">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item2.jpg" alt="item1" />
        <span class="item-name">KS Automatic Mechanic...</span>
        <span class="item-price">$1,249.99</span>
        <span class="item-quantity">Quantity: 01</span>
      </li>

      <li class="clearfix">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/cart-item3.jpg" alt="item1" />
        <span class="item-name">Kindle, 6" Glare-Free To...</span>
        <span class="item-price">$129.99</span>
        <span class="item-quantity">Quantity: 01</span>
      </li>
    </ul> -->

    <a [routerLink]="['/cart']" (click)="toggle()" class="button">View Cart</a>
  </div> <!--end shopping-cart -->
</div> <!--end container -->