<div class="card mb-4">
    <div class="card-img-wrapper">
         <img class="card-img-top" src='../../../assets/Images/{{car.carImgUrl}}' alt="{{car.carName}}" height="233px">
         <ul class="list-inline member-icons animate text-center">
             <li class="list-inline-item">
                 <button class="btn btn-primary" (click)="viewCar(car.carId)"><i class="fa fa-car viewCar" title="View Details"></i></button>
             </li>
             <li class="list-inline-item">
                <button class="btn btn-primary" (click)="addCar(car.carId)"><i class="fa fa-cart-plus addCar" title="Add to Cart"></i></button>
            </li>
         </ul>
    </div>
    <div class="card-body p-1">
        <h6 class="card-title text-center mb-1">
Brand: {{car.carName}}
        </h6>
        <p class="card-text text-muted text-center">Price: ${{car.carPrice}}</p>
    </div>
</div>
